@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,500&display=swap');
html {
    font-size: 100%;
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
    min-height: 100vh;
}

*, *::before, *::after {
    box-sizing: inherit;
}

.wrapper {
   display: grid;
   grid-template-areas:
   "H  H"
   "C  I ";

   grid-column-gap: 10px;

}

.header a{
  text-decoration: none;
  color: white;
}

.header{
  font-family: "Roboto";
  grid-area: H;
  display: flex;
  font-size: 1.2rem;
  color: white;
  background-color: #FC6565;
  justify-content: space-between;
  align-items: center;
  padding: 0px 40px;
  min-height: 100px;

}

.header li{
  display: inline-block;
  margin: 0px 20px;
}

.logo {
}

.menu{
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
}

a:hover{
  text-decoration: underline;
}

.helper{
  grid-area: I;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10vh;
}

.helper img{
  width: 50%;
}

.content{
  grid-area: C;
  text-align: left;
  padding-top: 15vh;
  padding-left: 30%;
  font-size: 2rem;
}


.content .regbutton {
  border-radius: 30px;
  background-color: #FC6565;
  width: 40%;
  height: 50px;
  text-align: center;
  padding-top: 10px;
  font-size: 1.5rem;
  cursor: pointer;
  margin-top: 80px;
}

.regbutton:hover{
  background-color: #FF8383;
}

.regbutton a{
  text-decoration: none;
  color: white;
}
