@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,500&display=swap');
html {
    font-size: 100%;
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
    min-height: 100vh;
}

*, *::before, *::after {
    box-sizing: inherit;
}

.wrapper{
  display: grid;
  grid-template-areas:
  "H"
  "I";
}

.header{
  grid-area: H;
  height: 100px;
}

.home{
  width: 5%;
  height: 50%;
  font-size: 1.2rem;
  cursor: pointer;
  background-color: #FC6565;
  border-radius: 8px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.18);
}

.inputform{
  height: 80vh;
  padding-top: 100px;
}

form {
  /* Расположим форму по центру страницы */
  margin: 0 auto;
  width: 400px;
  /* Определим контур формы */
  padding: 1em;
  border: 1px solid #CCC;
  border-radius: 1em;
  text-align: center;
  padding-top: 30px;
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

form input{
  margin-bottom: 20px;
  width: 80%;
  height: 50px;
  font-size: 1.2rem;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
  border: 0;
  border-radius:10px;

}

.header .button{
  width: 10%;
  margin: 20px;
  height: 40px;
  background-color: #FC6565;
  color: white;
  border-radius: 8px;
  -webkit-box-shadow: 10px 11px 17px -4px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 10px 11px 17px -4px rgba(34, 60, 80, 0.2);
  box-shadow: 10px 11px 17px -4px rgba(34, 60, 80, 0.2);
  text-align: center;
  padding-top: 10px;
}

.header a{
  color: white;
  text-decoration: none;

}

form .button{
  text-align: center;
  padding-top: 8px;
  margin-top: 30px;
  text-decoration: none;
  width: 40%;
  height: 40px;
  font-size: 1.2rem;
  cursor: pointer;
  background-color: #FC6565;
  color: white;
  border-radius: 8px;
  -webkit-box-shadow: 10px 11px 17px -4px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 10px 11px 17px -4px rgba(34, 60, 80, 0.2);
  box-shadow: 10px 11px 17px -4px rgba(34, 60, 80, 0.2);
}

.button:hover{
  background: -webkit-linear-gradient(45deg, rgb(252, 101, 101) 20%, rgb(86, 181, 184));
  background: -moz-linear-gradient(45deg, rgb(252, 101, 101) 20%, rgb(86, 181, 184));
  background: linear-gradient(45deg, rgb(252, 101, 101) 20%, rgb(86, 181, 184));
}

li{
  list-style-type: none;
  font-family: Roboto;
}
ul{
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
}