<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../static/css/login.css">
  <title>Document</title>
</head>
<body>
  <div class="wrapper">
    <div class="header">
      <a href="/">
        <button>Home</button>
      </a>

    </div>
    <div class="inputform">
      <form action="auth/login" method="post">
        <input type="text" placeholder="Login">
        <input type="password" placeholder="Password">
        <button type="submit">Login</button>
      </form>

    </div>
  </div>
</body>
</html>
