<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/css/all_contacts.css">
    <title>Document</title>
    {% endblock %}
</head>
<body>

<div class="header">
    <img class="logo" width="62px" src="../static/imgs/contact-book.png" alt="">
    <ul class="menu">
        {% if current_user.is_anonymous %}
        <div class="left_menu">
            <li><a href="/">Home</a></li>
            <li><a href="about">About</a></li>
        </div>

        <div class="auth">
            <li><a href="login">Login</a></li>
            <li><a href="signup">Sign Up</a></li>
        </div>
        {% else %}
        <div class="left_menu">
            <li><a href="/">Home</a></li>
            <li><a href="add_contact">Add contact</a></li>
            <li><a href="get_contacts">Get contacts</a></li>
        </div>

        <div class="auth">
            <li><a href="logout">Logout</a></li>
        </div>
        {% endif %}

    </ul>

</div>

<div class="wrapper">
    <div class="flex-container">

        <form action="" method="post" id="form" novalidate>
            {{ form.hidden_tag() }}
            {{ form.search() }}
            {{ form.submit(class="button", onclick="document.getElementById('form').submit(); return false;")}}
        </form>
        <table>
            <tr>
                <th>id</th>
                <th>Name</th>
                <th>Phone</th>
            </tr>
            {% for contact in contacts %}
            <tr>
                <td>{{ contact.id }}</td>
                <td>{{ contact.name}}</td>
                <td>{{contact.phone}}</td>
            </tr>
            {% endfor %}
            <tr>
            </tr>
        </table>
    </div>
</div>

</body>
</html>
